.top_nav(style='background-color:#FFFFFF')
  .nav_menu(style='background-color:#FFFFFF')
    nav(role='navigation')
      img(alt='', height='50', src='../images/logo.jpg', width='70', style='padding-top:5px')
      .nav.toggle
        a#menu_toggle
          i.fa.fa-bars
      img(alt='', height='40', src='../images/word.png')
      ul.nav.navbar-nav.navbar-right(style='height: 61px;width:243px; margin-left:0px')
        li
          a(href='/profile/#{session.passport.user.employee_id}')
            i.fa.fa-cog(alt='', title='Setting')
        li.dropdown(role='presentation')
          a.dropdown-toggle.info-number(href='javascript:;', data-toggle='dropdown', aria-expanded='false', style='left: 0px; top: 0px')
            i.fa.fa-bell-o(alt='', title='Notification')
            span.badge.bg-red #{session.sum}
          ul#menu1.dropdown-menu.msg_list(role='menu',style='width:200px')
            li
              a(href='/documents')
                span.image
                  img(src='../images/message.png', alt='Profile Image')
                span
                  | Note
                  span.time #{session.note}
                
            li
              a(href='/documents')
                span.image
                  img(src='../images/camera.png', alt='Profile Image')
                span
                  | Photo
                  span.time #{session.photo}
            li
              a(href='/documents')
                span.image
                  img(src='../images/microphone.png', alt='Profile Image')
                span
                  | Audio
                  span.time #{session.audio}
            li
              a(href='/alert')
                span.image
                  img(src='../images/danger.png', alt='Profile Image')
                span
                  | Alert
                span.time #{session.alert}
        li
          a(href='/')
            i.fa.fa-home(alt='', title='Home')
        li
          a(href='language/en') EN
        li
          a(href='language/cn') 中文
